<a href="https://colab.research.google.com/github/parveen180/ML-/blob/main/pythondatatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv('/content/Data.csv')

In [4]:
#head will print first 5 rows of dataset
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [5]:
print("Machine Learning" + " Projects")
print(6+7)
type(8)

Machine Learning Projects
13

int

In [6]:
type('y')

str

In [7]:
type(7.7)

float

Input value

In [8]:
num1=int(input("enter number"))
num2=int(input("enter number"))
sum=num1+num2
print(sum)

enter number5
enter number5
10

In [38]:
list=[1,4,5,5,'sa']
print(list)
type(list)

[1, 4, 5, 5, 'sa']

list

In [39]:
list.append(1)
print(list)

[1, 4, 5, 5, 'sa', 1]

In [40]:
del list[1]
print(list)

[1, 5, 5, 'sa', 1]

In [41]:
tuple1=(1,2,3,4,7)
print(tuple1)
type(tuple1)

(1, 2, 3, 4, 7)

tuple

In [48]:
del tuple

list2=[4.5,6,7,8]
print(list2)

my_tuple=tuple(list2)
print(my_tuple)

[4.5, 6, 7, 8]
(4.5, 6, 7, 8)

In [49]:
set={1,2,3,4,5,5}
print(set)
type(set)

{1, 2, 3, 4, 5}

set

In [50]:
dict={1:'a',2:'b',3:'c'}
print(dict)
type(dict)

{1: 'a', 2: 'b', 3: 'c'}

dict